<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace = "cn.pluto.admin.mapper.CommentsMapper">
	<!-- 查询所有评论信息列表 -->
	<select id = "findCommentsList" resultType = "Comments">
		select * from tb_comments where 1=1
		<if test = "articleId !=0">
			and article_id = #{articleId}
		</if>
		and type = #{sort}
	</select>
	
	<!-- 查询所有父级文章留言信息 -->
	<select id="findAllId" resultType = "Comments">
		select * from tb_comments where p_id = 0 and c_id = 0
		<if test = "articleId != 0">
			and article_id = #{articleId}
		</if>
		and type = #{sort}
	</select>

</mapper>